---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  pixelfed:
    build: https://github.com/pixelfed/pixelfed.git#dev
    image: pixelfed
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.pixelfed.loadbalancer.server.scheme=http"
      - "traefik.http.services.pixelfed.loadbalancer.server.port=80"
      - "traefik.http.routers.pixelfed-http.rule=Host(`{{ pixelfed.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.pixelfed-http.entrypoints=http"
{% if not pixelfed.https_only %}
      - "traefik.http.routers.pixelfed-http.middlewares={% if pixelfed.https_only %}redirect@file, {% else %}{% if pixelfed.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.pixelfed-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.pixelfed.rule=Host(`{{ pixelfed.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.pixelfed.entrypoints=https"
      - "traefik.http.routers.pixelfed.middlewares={% if pixelfed.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.pixelfed.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.pixelfed.tls.certresolver=dns"
      - "traefik.http.routers.pixelfed.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.pixelfed.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.pixelfed.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.pixelfed-tor-http.rule=Host(`{{ pixelfed.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.pixelfed-tor-http.entrypoints=http"
      - "traefik.http.routers.pixelfed-tor-http.middlewares={% if pixelfed.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
    env_file:
      - "{{ volumes_root }}/pixelfed/pixelfed.env"
    volumes:
      - "{{ volumes_root }}/pixelfed/storage:/var/www/storage"

  worker:  # Comment this whole block if HORIZON_EMBED is true.
    build: https://github.com/pixelfed/pixelfed.git#dev
    image: pixelfed
    restart: unless-stopped
    env_file:
      - "{{ volumes_root }}/pixelfed/pixelfed.env"
    volumes:
      - "{{ volumes_root }}/pixelfed/storage:/var/www/storage"
    networks:
      - traefik_network
    command: gosu www-data php artisan horizon

  db:
    image: mariadb:10.4
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - MYSQL_DATABASE=pixelfed
      - MYSQL_USER=pixelfed
      - MYSQL_PASSWORD={{ lookup('password', './settings/passwords/pixelfed_db_password chars=digits length=15') }}
      - MYSQL_RANDOM_ROOT_PASSWORD=true
    volumes:
      - "{{ volumes_root }}/pixelfed/mariadb:/var/lib/mysql"

  redis:
    image: redis:5-alpine
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/pixelfed/redis:/data"
    networks:
      - traefik_network
    command: >
     --requirepass {{ lookup('password', './settings/passwords/pixelfed_redis_password chars=digits length=15') }}
