      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.apple_health_influx.loadbalancer.server.scheme=http"
      - "traefik.http.services.apple_health_influx.loadbalancer.server.port=0"
      - "traefik.http.routers.apple_health_influx-http.rule=Host(`{{ apple_health_influx.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.apple_health_influx-http.entrypoints=http"
{% if not apple_health_influx.https_only %}
      - "traefik.http.routers.apple_health_influx-http.middlewares={% if apple_health_influx.https_only %}redirect@file, {% else %}{% if apple_health_influx.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.apple_health_influx-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.apple_health_influx.rule=Host(`{{ apple_health_influx.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.apple_health_influx.entrypoints=https"
      - "traefik.http.routers.apple_health_influx.middlewares={% if apple_health_influx.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.apple_health_influx.tls=true"
  # Apple Health Data Importer
  apple_health_influx:
    image: nickbusey/healthdata_influx:cron
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/nextcloud/data/{{ apple_health_nextcloud_username }}/files/export/:/export/"
      - "{{ volumes_root }}/apple_health_influx/config.yml:/config.yml"
