---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # TV Downloader
  sonarr:
    image: linuxserver/sonarr
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/sonarr/config:/config"
      - "{{ storage_dir }}/Video/TV:/tv"
      - "{{ storage_dir }}/Downloads/TV:/downloads"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.sonarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
      - "traefik.http.routers.sonarr-http.rule=Host(`{{ sonarr.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.sonarr-http.entrypoints=http"
{% if not sonarr.https_only %}
      - "traefik.http.routers.sonarr-http.middlewares={% if sonarr.https_only %}redirect@file, {% else %}{% if sonarr.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.sonarr-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.sonarr.rule=Host(`{{ sonarr.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.sonarr.entrypoints=https"
      - "traefik.http.routers.sonarr.middlewares={% if sonarr.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.sonarr.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.sonarr.tls.certresolver=dns"
      - "traefik.http.routers.sonarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.sonarr.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.sonarr.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.sonarr-tor-http.rule=Host(`{{ sonarr.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.sonarr-tor-http.entrypoints=http"
      - "traefik.http.routers.sonarr-tor-http.middlewares={% if sonarr.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
